.Pagination {
    position: absolute;
    bottom: 0;
    width: 30vw;
    flex: 1;
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
}

.Pagination p {
    flex: 1;
    display: flex;
    justify-content: center;
}

.PaginationButton {
    flex: 1;
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
}